.nav_head {
  margin-top: -25px;
  height: 75px;
  color: black;
  background-color: rgb(180, 175, 209);
  display: flex;
  justify-content: space-between;
}
.logo_img{
  height: 75px;
  width: 125px;
}

ul {
  margin-right: 5%;
  margin-bottom: 2%;
  list-style: none;
  display: flex;
}

li {
  padding: 10px;
  cursor: pointer;
}
